<body class='light-theme'>
  <div class='toolbar'>
    <div class='theme-switch'>
      <svg class='theme-switch__icon' role='img' aria-label='Иконка солнца'>
        <use href='./images/hw-10-sprite.svg#sun'></use>
      </svg>
      <div class='theme-switch__control'>
        <input
          class='theme-switch__toggle'
          type='checkbox'
          name='theme'
          id='theme-switch-toggle'
          aria-label='Переключить между тёмной и светлой темой'
        />
        <label aria-hidden='true' class='theme-switch__track' for='theme-switch-toggle'> </label>
        <div aria-hidden='true' class='theme-switch__marker'></div>
      </div>
      <svg class='theme-switch__icon' aria-label='Иконка луны'>
        <use href='./images/hw-10-sprite.svg#moon'></use>
      </svg>
    </div>
  </div>
  <ul class='js-menu menu'>
    {{#each menuItems}}
      <li class='menu__item'>
        <article class='card'>
          <img src='{{image}}' alt='{{name}}' class='card__image' />
          <div class='card__content'>
            <h2 class='card__name'>{{name}}</h2>
            <a href='/hw-10-item/{{id}}'>
              <p>открыть карточку в новом окне</p>
            </a>
            <p class='card__price'>
              <i class='material-icons'> monetization_on </i>
              {{price}}
              кредитов
            </p>

            <p class='card__descr'>
              {{description}}
            </p>

            <ul class='tag-list'>
              {{#each ingredients}}
                <li class='tag-list__item'>{{this}}</li>
              {{/each}}
            </ul>
          </div>

          <button class='card__button button'>
            <i class='material-icons button__icon'> shopping_cart </i>
            В корзину
          </button>
        </article>
      </li>
    {{/each}}
  </ul>
  {{! <script src='/js/hw-10-index.js' type='module'></script> }}
</body>